.button {
    display: inline-block;
    text-align: center;
}
* {
    font-family: sans-serif;
    color: white;
}
nav {
    background-color: black;
    padding: 10px 0px 10px 0px;
    width: 452px;
    border-radius: 5px;
}
ul, ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
li {
    vertical-align: top;
    width: 100px;
    height: 15px;
    text-align: left;
    background-color: black;
    padding: 5px;
}
li:hover {
    background-color: grey;
}
nav ul ul {
    display: none;
    text-align: left;
}
nav ul li:hover > ul {
    display: block;
}
ul ul ul {
    position: absolute;
    width: 100px;
    left: 100%;
    z-index: 5;
}
.Arrow {
    float: right;
}s